/*1.courses page css start */
.pl-menu-dropdown li {
  width: 100%;
}
.pl-footer .footer--row p {
  color: #000;
}
.quick-link li {
  margin: 0px 10px;
}
.pl-footer .footer--row {
  border-bottom: 1px solid #000;
}
.extra-links li {
  margin: 0px 5px;
}
.pl-footer .footer__logo {
  margin-bottom: 1rem;
}
.float-right {
  float: right;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.ml-0 {
  margin-left: 0 !important;
}
.w-100 {
  width: 100%;
}
.fw-700 {
  font-weight: 700;
}
.text-black {
  color: var(--color-dark-text);
}
.text-orange {
  color: var(--color-secondary-text);
}
.tutor_card figure {
  margin: 0 0 0;
}
.control_badge span {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0 1rem;
  display: flex;
  align-items: center;
}
.control_badge object {
  margin-right: 1rem;
}
.pl_fav_text {
  font-size: 24px;
  line-height: 36px;
}
.pl_sub_title {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.24em;
  text-transform: uppercase;
}
.read_more {
  font-weight: 300;
  font-size: 11px;
  line-height: 14px;
}
.tutor_card {
  color: #000000;
}
.tutor_card h5 {
  font-size: 38px;
  line-height: 48px;
}
.tutor_card p {
  line-height: 28px;
  font-size: var(--font-size-p);
}

p.pl_user {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.ml-auto {
  margin-left: auto;
}
.contact_tutor {
  width: 202px;
  padding: 20px 40px;
  height: 66px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}
.tutor_card h6 {
  font-weight: 400;
  font-size: 64px;
  line-height: 62px;
}
.tutor_card h6 span {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.enroll_now {
  padding: 20px 80px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  height: 66px;
}
.tutor_card .des {
  margin-bottom: 40px;
}
.bg-none {
  background-color: transparent;
}
.view_more {
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  display: flex;
  align-items: center;
}
.pl_show_more {
  margin-top: 50px;
}
.plpt_50 {
  padding-top: 50px !important;
}
.plpb_50 {
  padding-bottom: 50px !important;
}
.container {
  width: 100%;
}

.tutor_services {
  background-color: #fdfff7;
  padding: 80px 0px;
}
.services_list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-style: 14px;
  line-height: 28px;
  margin-top: 20px;
}
.services_list li {
  font-weight: 400;
  font-size: 14px;
}
/*1.courses page css end */
/*2.course detail page css start */
.text-center {
  text-align: center;
}
.cource_detail_head h2 {
  font-weight: 700;
  font-size: 48px;
  font-family: "Bespoke Serif";
}
.top_banner {
  background: #f2f6e6;
}
.what_learn_list {
  column-count: 2;
}
.what_learn_list li {
  margin-top: 20px;
}
#accordioncourseExample .accordion-item {
  border-left: 0;
  border-right: 0;
}
#accordioncourseExample .accordion-item:first-of-type {
  border-top: 0px !important;
}
#accordioncourseExample .accordion-body {
  border: var(--bs-accordion-border-width) solid
    var(--bs-accordion-border-color);
  border-top: 0;
}
#accordioncourseExample .accordion-button::after {
  margin-left: 0;
  position: absolute;
}
.heading1 {
  padding-left: 35px;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.top_banner h1 {
  font-family: "Bespoke Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
}
.cd_para {
  width: 80%;
}
.sub_section_1 {
  border: 1px solid #000000;
  padding: 20px;
  margin: 20px 0;
}
.sub_section_2 h6,
.sub_section_1 h6 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.over_list li {
  margin-bottom: 1rem;
}
.sub_section_2 h4 {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #000000;
}
.course_badege {
  padding: 8px 40px;
  background: #f7f7f7;
  border-radius: 8px;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("../svg/up.svg") !important;
}
.last_btn {
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  font-family: "Lexend";
  font-style: normal;
  color: #000000;
}
#course-tabContent .accordion-body > div {
  margin: 10px 0;
}
#course-tabContent .accordion-body a {
  color: #2765f1;
}
#course-tabContent hr {
  border: 1px solid #a7b6e9;
}
.rate_data {
  text-align: center;
}
.rating_tutor span {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  justify-content: flex-end;
}
.rating_tutor span b {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.right_side_card {
  width: 445px;
  position: absolute;
  right: 0;
  top: 0;
}
.box-wrapper .row > div {
  margin-bottom: 20px;
}
/*  */
/*2.course detail page css end */

/* Priya CSS start  courses page*/

.contact_tutor p {
  height: 20px;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
}
.add_cart {
  font-weight: bold;
  background: #ff5200;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid #dddddd;
  width: 100%;
  padding: 10px 33px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.buy_now {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ff5200;
  width: 100%;
  padding: 10px 33px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  text-align: center;
  color: #ff5200;
}
.book_tutor {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid #2765f1;
  padding: 10px 33px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #2765f1;
  text-align: center;
  width: 100%;
}
.card_content {
  border-bottom: 1px solid #dddddd;
}
.card_content li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.card_content li object {
  margin-right: 1rem;
}

.dollar-section {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
}
.card {
  padding: 0 !important;
  border: 1px solid #dddddd;
}
.card-body {
  padding: 20px;
}
.user_detail img {
  display: inline-block;
}
.user_detail {
  width: 160px;
}
.user {
  font-size: 12px;
  font-weight: bold;
}
.review_head {
  font-style: normal;
  font-family: "Lexend";
  font-weight: bold;
  font-size: 30px;
}
.h5 {
  font-family: Lexend;
  font-style: Bold;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 15px;
}
.tab-content > .active {
  display: block;
  background-color: white !important;
}
.nav-pills .nav-link.active {
  background-color: #f7f7f700 !important;
  font-style: Bold;
  border-bottom: 1px solid #000000;
  border-radius: 0px !important;
}
.nav-link {
  color: #000000 !important;
  font-family: Lexend;
  font-style: Bold;
  font-size: 16px;
}
.nav-link:focus,
.nav-link:hover {
  color: #000000 !important;
}
.head_top {
  font-family: Lexend;
  font-size: 20px;
  font-weight: bold;
}
.more-info {
  margin: auto !important;
}
.contents {
  background-color: white !important;
  padding: 10px 10px;
  line-height: 40px;
  width: 850px;
}
.course_for {
  line-height: 40px;
}
.course_details {
  line-height: 40px;
}
.review {
  border-radius: 6px;
  font-family: "Lexend";
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #2765f1;
  border: 1px solid #2765f1;
  padding: 8px 33px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  text-align: center;
  width: 200px;
}
.review_rating {
  font-size: 60px;
  line-height: 66px;
}
.para_review {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.star_bar {
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}
.test_light_blue {
  font-size: 16px;
  line-height: 28px;
  color: #a7b6e9;
  margin-bottom: 0px;
}
.test_dark_para {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}
.progress_rate {
  vertical-align: middle !important;
  width: 230px;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background: #ff5200 !important;
  border-radius: 16px !important;
}
progress {
  background: #ff5200 !important;
  border-radius: 16px !important;
}
progress::-webkit-progress-bar {
  background: #ff5200 !important;
  border-radius: 16px !important;
}
progress::-webkit-progress-value {
  background: #ff5200 !important;
  border-radius: 16px !important;
}
progress::-moz-progress-bar {
  background: #ff5200 !important;
  border-radius: 16px !important;
}
.test_light_blue_span {
  font-weight: 500;
  color: black;
}
.img_Edwin {
  width: 176px;
  height: 208px;
}
.img_Edwin img {
  width: 100%;
  height: 100%;
}
.buttons_css {
  border: 1px solid #dddddd;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
}
.buttons_css p {
  font-size: 18px;
  line-height: 24px;
  margin-left: 5px;
  font-family: lexend;
}
.instructor {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.24em;
  text-transform: uppercase;
}
.main_heading {
  font-family: "Bespoke Serif";
  font-weight: 700;
  font-size: 60px;
  line-height: 76px;
}
.para {
  font-family: "Lexend";
  font-size: 22px;
  line-height: 24px;
}
.total {
  color: #858585;
  font-family: "Lexend";
  font-size: 22px;
  line-height: 24px;
}
.about_me {
  font-family: "Lexend";
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}
.about_para {
  font-family: "Lexend";
  font-size: 16px;
  line-height: 28px;
}
.footer_contact_details span {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
}
.accordion-button:not(.collapsed) {
  background: #f2f6e6 !important;
  color: #000000 !important;
}

.accordion-button:focus {
  border-color: none !important;
  box-shadow: none !important;
}
.accordion-button {
  padding: 10px 1.25rem !important;
  background: #f3f3f3 !important;
}
.color_blue {
  color: #2765f1;
}
/* Priya CSS End */
@media (min-width: 1499px) {
  .pl-footer .container {
    max-width: 1800px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 95% !important;
  }
}
@media (min-width: 1250px) {
  .container {
    max-width: 1200px !important;
  }
}
@media (min-width: 1366px) {
  .container {
    max-width: 1300px !important;
  }
}
@media (min-width: 1499px) {
  .container {
    max-width: 1400px !important;
  }
}
@media (min-width: 1699px) {
  .container {
    max-width: 1600px !important;
  }
}
@media (min-width: 1899px) {
  .container {
    max-width: 1800px !important;
  }
}
@media (max-width: 1699px) {
  .pl_sub_title {
    letter-spacing: 0.22em;
  }
  .contact_tutor {
    width: 100%;
    height: auto;
    padding: 12px 16px;
    font-size: 18px;
  }
  .enroll_now {
    padding: 15px 40px;
    height: auto;
    font-size: 18px;
  }
  .tutor_card h6 {
    font-size: 60px;
  }
  .multiple_card .user_div,
  .multiple_card .control_badge {
    flex-wrap: wrap;
  }
  .multiple_card .control_badge span:first-child {
    margin-bottom: 16px;
    width: 100%;
  }
  .multiple_card .control_badge span:nth-child(2) {
    margin-left: 0px;
  }
  .multiple_card .tutor_card h5 {
    font-size: 35px;
  }
  .multiple_card .tutor_card h6 {
    font-size: 40px;
  }
  .multiple_card .enroll_now {
    padding: 12px 26px;
  }
  .right_side_card {
    width: 380px;
  }
}
@media (max-width: 1499px) {
  .pl_sub_title {
    letter-spacing: 0.15em;
  }
  .multiple_card .control_badge object {
    width: 20px;
  }
  .multiple_card .card-body {
    padding: 16px;
  }
}
@media (max-width: 1299px) {
  .pl_sub_title {
    font-size: 18px;
  }
  .tutor_card h5 {
    font-size: 30px;
    line-height: 42px;
  }
  .multiple_card .tutor_card h5 {
    font-size: 30px;
  }
  .multiple_card .user_div figure {
    width: 38px;
  }
  .right_side_card {
    width: 350px;
  }
}
@media (max-width: 1199px) {
  .tutor_card {
    margin-bottom: 30px;
  }
  .tutor_services .row > div {
    margin-bottom: 30px;
  }
  .pl_show_more {
    margin-top: 25px;
  }
  .tutor_services {
    padding: 50px 0px;
  }
  .right_side_card {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  .right_side_card figure {
    margin-bottom: 0;
  }
  .right_side_card figure img {
    height: 100%;
  }
}
@media (max-width: 991px) {
  .pl_fav_text {
    font-size: 20px;
  }
  .pl_sub_title {
    font-size: 16px;
  }
  .pl_fav_text object {
    width: 30px;
  }
  .tutor_card p {
    font-size: 16px;
    line-height: 24px;
  }
  .user_div,
  .control_badge {
    flex-wrap: wrap;
  }
  .control_badge span:first-child {
    margin-bottom: 16px;
    width: 100%;
  }
  .user_div div:nth-child(3) {
    margin-top: 16px;
    width: 100%;
  }
  .control_badge span:nth-child(2) {
    margin-left: 0px;
  }
  .contact_tutor {
    font-size: 16px;
  }
  .enroll_now {
    padding: 12px 40px;
    font-size: 16px;
  }
  .tutor_card h6 {
    font-size: 50px;
  }
  .view_more {
    font-size: 25px;
  }
  .buttons_css {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .footer .footer--row [class*="col-"] {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .section--footer {
    padding-top: 50px !important;
  }
  .tutor_services .row > div:last-child {
    margin-bottom: 0px;
  }
  .mobile_view {
    text-align: center;
  }
  .main_heading {
    font-size: 40px;
    line-height: 60px;
  }
  .mobile_view .flex-wrap {
    justify-content: center;
    margin-top: 1.5rem;
  }
  .mon_flx_data {
    justify-content: center;
  }
  .mon_flx_about {
    text-align: center;
  }
  .top_banner h1 {
    font-size: 35px;
    line-height: 45px;
  }
  .course_badege {
    padding: 8px 18px;
  }
  .last_btn{
    width: 145px;
    font-size: 13px;
  }
  .heading1 {
    padding-left: 25px;
    font-size: 15px;
    line-height: 24px;
}
}
@media (max-width: 576px) {
  .section-filters {
    padding: 0rem 0;
    margin-bottom: 0rem;
  }
  .pl_show_more {
    margin-top: 0px;
  }
  .plpb_50 {
    padding-bottom: 25px !important;
  }
  .section--footer {
    padding-bottom: 100px !important;
  }
  .para {
    font-size: 18px;
  }
  .right_side_card {
    flex-direction: column;
  }
  .right_side_card figure img {
    height: auto;
  }
  .what_learn_list {
    column-count: 1;
  }
  .course_accordian button>div{
    flex-wrap: wrap;
  }
  .heading1{
    width: 100%;
  }
  .ms-auto.last_btn{
    margin-left: 25px !important;
  }
  .last_btn{
    margin-top: 1rem;
    text-align: center;
    width: 110px;
    font-size: 12px;
    padding: 5px 10px;
  }
  #accordioncourseExample .accordion-body >div {
    flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .course_badege:first-child{
    width: 48%;
  }
  .course_badege:nth-child(2){
    width: 48%;
    margin-right: 0 !important;
  }
  .course_badege:nth-child(3){
    width: 100%;
    margin-top: 16px;
  }
}
